* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  font-family: "Space Mono";
  font-size: 15px;
}
.devchallenge{
  
  margin-top: 2vh;
  margin-left: 2.4vh;

}

.heading {
    font-family:Inconsolata;
    font-size:1.3rem ;
    font-weight: 700;
}

.img-crow{
   
    margin-top: 8vh;
    margin-bottom: 4vh;
    
    margin-left: 10vw;
    width: 70vw;
   
}
.message{
font-weight: bold;
display: flex;
flex-direction: column;
margin-bottom:10vh;
}
.message-title{
    font-size: 3rem;
    color: #333333;
    margin-top:20px;
    margin-bottom: 20px;
    word-spacing:0.1rem;
  
}
.message-description{
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 15px;
     margin-bottom: 60px;
     color: #4F4F4F;

}
.home{
    background-color: #333333;
    color: #FFFFFF;
    width: 216px;
     padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
}
.foot{

    color: #BDBDBD;
    font-family: Montserrat;
    text-align: center;
}


@media only screen and (min-width:900px)
{
    .devchallenge
    {
       margin-top: 3vh;
       margin-left: 10vh;
       margin-right: 8vw;
    }
    .heading {
        font-family:Inconsolata;
        font-size:1.7rem ;
        font-weight: 700;
    }
    .container{
        display: flex;
        justify-content: space-around;
        gap:8vw;
        margin-top: 18vh;
    }
  
    .img-crow{
        margin: 0;
        width: 36vw;
    }

    .message{
        font-weight: bold;
        display: flex;
        flex-direction: column;
        margin-bottom:10vh;
        gap:4vh
        }
        .message-title{
            font-size: 4.2rem;
            color: #333333;
            width: 45vw;
            word-spacing:0.1rem;
        }
        .message-description{
            font-size: 2rem;
            width: 25vw;
        
        }
     

        .foot{
            margin-top: 10vh;
            font-size: 1.2rem;
            margin-bottom: 2vh;
        }
}



