* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  font-family: "Space Mono";
  font-size: 15px;
}
.devchallenge{
  padding: 20px 20px ;
  display: flex;
  flex-direction: column;
}

.heading {
    font-family:Inconsolata;
    font-size:1.3rem ;
    font-weight: 700;
}
.scarecrow{
    display:flex;
    padding:60px 0 50px 0;
    justify-content: center;
}
.img-crow{
    width:300px;
}
.message{
font-weight: bold;
display: flex;
flex-direction: column;
margin-bottom: 60px;
}
.message-title{
    font-size: 3rem;
    color: #333333;
    margin-top:20px;
    margin-bottom: 20px;
    word-spacing:0.1rem;
    /* letter-spacing: 0.1em; */
    
}
.message-description{
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 15px;
     margin-bottom: 60px;
     color: #4F4F4F;

    /* word-spacing: 0.5em */
}
.home{
    background-color: #333333;
    color: #FFFFFF;
    width: 216px;
     padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
}
.foot{

    color: #BDBDBD;
    font-family: Montserrat;
    text-align: center;
}



